*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainBody{
    height: 100vh;
    background-color: #020230;
    color: white;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 75%;
    background: linear-gradient(to bottom, rgba(0,0,0,0),#020230), url('./Assets/bg.jpg');
}
.QsContainer{

}
.counter{
    color: white;
    border: 3px solid white;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
}
.right{
    width: 25%;
}
.pricesContainer{
    height: 100%;
}
.moneyList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 100%;
}
.moneyListItem{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.moneyListItem.active{
    background-color: aqua;
}
.moneyListID{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}
.moneyListPrice{
    font-size: 21px;
    font-weight: 200;
}